body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    color: whitesmoke;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

h5 {
    font-weight: 300;
}

p {
    text-align: justify;
}

.header {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    margin-top: -50px;
    background-position: center;
}

.Header-h1 {
    padding-top: 120px;
    margin-bottom: -58px;
}

.common-p {
    color: whitesmoke;
    width: 50%;
    text-align: center;
    padding-left: 370px;
    padding-bottom: 30px;
}

.common-button {
    background-color: #FF5959;
    text-align: center;
    margin-left: 600px;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.common-h2 {
    color: black;
    text-align: center;
    padding-top: 60px;
}

.amount {
    width: 11%;
    height: 90px;
    font-size: 20px;
    margin-left: 15px;
    border-radius: 3px;
    background-color: #FAFAFA;
    margin-bottom: 40px;
}

.special {
    border-radius: 5px;
    border: 2px solid #FF6666;
    color: #FF6666;
    background-color: #FFEEEE;
}

.border-bottom {
    border-bottom: 1px solid rgb(199, 193, 193);
    text-align: center;
    width: 50%;
    margin-left: 330px;
    padding-bottom: 10px;
    margin-bottom: 50px;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    margin-bottom: 50px;
}

.one-third {
    width: 25%;
    padding: 40px 20px;
    margin-left: 20px;
    border-radius: 3px;
    background-color: #EDF5F6;
}

.first-plan {
    background-color: #EDF5F6;
}

.second-plan {
    background-color: #FFEEEE;
}

.third-plan {
    background-color: #FFF4D6;
}

.our-work {
    background-color: #ffdd99;
    overflow: hidden;
    padding: 50px 0px;
}

.container {
    width: 80%;
    margin: auto;
}

.work-header {
    color: #000;

}

.working_menu {
    margin-top: 50px
}

.working_menu ul {
    margin: 0px;
    padding: 0px;
    text-align: center;

}

.working_menu ul li {
    list-style: none;
    display: inline-block;

}

.working_menu ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    display: block;
    padding: 5px 15px;
    background-color: #ebc985;

}

.working-images {
    margin-top: 60px;
}

.single_box {
    width: 48%;
    float: left;
    text-align: center;
    margin-top: 30px
}

.single_box img {
    width: 450px;
    height: 400px;
}

.single_box h2 {
    font-weight: 100
}

.load {
    clear: both
}

.load_btn {
    width: 200px;
    margin: 60px auto;
    text-align: center;
    background: #FF5959;
    display: block;
    padding: 25px 0px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    border-bottom: 1px solid #000;

}

.testimonial_area {
    background-color: #EDF5F6;
    padding: 50px 5px;

}

.testimonial_boxs {
    margin-top: 50px;
}

.testimonial_boxs:after {
    display: block;
    content: '';
    clear: both;
}

.testimonial_single_box {
    float: left;
    width: 40%;
    margin-top: 50px;
    margin-left: 80px;

}

.testimonial_img {
    float: left;
    width: 30%;
}

.testimonial_content {
    float: left;
    width: 65%;
    color: black;
}

.testimonial_img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.testimonial_content h2 {
    margin: 0px 20px;
    font-size: 24px
}

.testimonial_content h5 {
    margin: 0px 20px;
    color: black;
    font-size: 18px;
    margin-top: 8px
}

.testimonial_content p {
    margin: 0px 20px;
}

.box {
    background-color: #FFF4D6;
    height: 100px;
    width: 700px;
    background-position: center;
    margin-left: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.email-box {
    height: 40px;
    justify-content: center;
    display: inline-flex;
    width: 360px;
    padding: 0 10px;

}

.tbox {
    background-color: #D9D9D9;
    padding-left: 15px;
    padding-right: 25px;
}

.tbox,
.btn {
    border: none;
    outline: none;
}

.btn {
    background-color: #FF5959;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.footer {
    text-align: center;
    padding-bottom: 60px;
    color: aqua;
}